{% extends 'base.html' %}

{% block content %}
<section>
    <h1>Welcome to "Table of Contents"</h1>
    <p>"Table of Contents is your bookshelf, at your fingertips!" the website proclaimed as the home page loaded up.</p> 
    <p><em>How could this be?</em> I thought. <em>Bookshelves are physical structures that store books. I'm just sitting at
        my computer right now without a bookshelf in sight!</em>
    </p>
    <p>"I don't quite see how that's possible. How can I have a bookshelf at my fingertips!?" I retorted.</p>
    <p>"You see." the website began, "Using this website allows a user to log in and access this digital
        library's API!"
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Fugiat corrupti iusto, quibusdam blanditiis, adipisci itaque 
        suscipit quam quis quasi odio possimus laboriosam repellat 
        excepturi officiis molestiae nostrum tenetur quaerat perspiciatis 
        consectetur enim, atque delectus eum! Cum incidunt magni recusandae 
        dignissimos, eum suscipit odit neque eos a perspiciatis, deleniti id nulla 
        ratione maxime eveniet iste eaque illo magnam esse cupiditate sit rem fuga 
        laboriosam ad?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat veritatis 
        reiciendis nulla maxime, optio odit, saepe reprehenderit dolores facere harum explicabo 
        neque minus officia quis cupiditate alias earum consequatur nam. Reprehenderit laudantium 
        necessitatibus eaque dolorum, dicta eos. Placeat neque debitis sapiente. Enim, quo itaque, 
        fugiat nesciunt tenetur ipsam alias dolorem cumque harum tempora quod neque. Sed alias nihil 
        at ipsum, asperiores dignissimos nisi accusantium blanditiis, perspiciatis possimus eius eos.
    </p>
</section>
{% endblock %}